{# Freifunk Dresden - Server #}
{# Salt - Jinja Configuration File #}

{# ffip for Hotspot-NAT #}
{% set ffip = '89.163.140.199' %}
{% set ffdom = 'freifunk-dresden.de' %}

{% set install_dir = salt['cmd.shell']('/usr/local/bin/nvram get install_dir') %}

{% set freifunk_repo = 'https://github.com/Freifunk-Dresden/ffdd-server.git' %}
{% set custom_freifunk_repo = salt['cmd.shell']('/usr/local/bin/nvram get freifunk_repo') %}

{% set branch = 'T_RELEASE_latest' %}
{% set custom_branch = salt['cmd.shell']('/usr/local/bin/nvram get branch') %}

{% set autoupdate = salt['cmd.shell']('/usr/local/bin/nvram get autoupdate') %}
{% set freifunk_version = salt['cmd.shell']('/usr/local/bin/nvram version') %}

{% set ddmesh_registerkey = salt['cmd.shell']('/usr/local/bin/nvram get ddmesh_registerkey') %}
{% set fastd_secret = salt['cmd.shell']('/usr/local/bin/nvram get fastd_secret') %}

{% set servername = salt['cmd.shell']('/usr/local/bin/nvram get servername') %}
{% set hostname = salt['cmd.shell']('cat /etc/hostname') %}
{% set ifname = salt['cmd.shell']('/usr/local/bin/nvram get ifname') %}
{% set nodeid = salt['cmd.shell']('/usr/local/bin/nvram get ddmesh_node') %}
{% set nodeip = salt['cmd.shell']("ip addr show bmx_prime | awk '/inet/ {print $2}' | sed 's/\/.*//'") %}

{% set ddmesh_disable_gateway = salt['cmd.shell']('/usr/local/bin/nvram get ddmesh_disable_gateway') %}

{# used for crontab minutes #}
{%- set ctime = salt['cmd.shell']('expr '~ nodeid ~' % 60 || true') %}

{# check kernel-header package is available #}
{% set kernel_release = salt['cmd.shell']("uname -r") %}
{%- set kernel_pkg_check = salt['cmd.shell']("apt-cache show linux-headers-"~ kernel_release ~" 2>&1 | awk '/Version:/ {print substr($0, index($0,$3))}' | wc -l") %}

{# check hostnamectl #}
{% set chassis = salt['cmd.shell']("hostnamectl status | awk '/Chassis/ {print $2}'") %}
