#
# Freifunk Dresden: vServer
# Salt - Jinja Configuration File
#

{% set ffdom = 'freifunk-dresden.de' %}

{% set freifunk_version = salt['cmd.shell']('/usr/local/bin/nvram version') %}
{% set install_dir = salt['cmd.shell']('/usr/local/bin/nvram get install_dir') %}
{% set ct_bmxd = '/salt/freifunk/base/bmxd/compiled-tools/bmxd' %}

{% set ddmesh_registerkey = salt['cmd.shell']('/usr/local/bin/nvram get ddmesh_registerkey') %}
{% set nodeid = salt['cmd.shell']('/usr/local/bin/nvram get ddmesh_node') %}

{% set servername = salt['cmd.shell']('/usr/local/bin/nvram get servername') %}
{% set hostname = salt['cmd.shell']('cat /etc/hostname') %}
{% set ifname = salt['cmd.shell']('/usr/local/bin/nvram get ifname') %}
{% set nodeip = salt['cmd.shell']("ip addr show bmx_prime | awk '/inet/ {print $2}' | sed 's/\/.*//'") %}

{# used for crontab minutes #}
{%- set ctime = salt['cmd.shell']('expr ' ~ nodeid ~ ' % 60 || true') %}
