#
# Freifunk Dresden: vServer
# Salt - Jinja Configuration File
#

{% set freifunk_version = salt['cmd.shell']('/usr/local/bin/nvram version') %}
{% set install_dir = salt['cmd.shell']('/usr/local/bin/nvram get install_dir') %}
{% set ct_bmxd = '/salt/freifunk/base/bmxd/compiled-tools/bmxd' %}

{% set ddmesh_registerkey = salt['cmd.shell']('/usr/local/bin/nvram get ddmesh_registerkey') %}
{% set nodeid = salt['cmd.shell']('/usr/local/bin/nvram get ddmesh_node') %}

{% set servername = salt['cmd.shell']('/usr/local/bin/nvram get servername') %}
{% set ifname = salt['cmd.shell']('/usr/local/bin/nvram get ifname') %}
{% set nodeip = salt['cmd.shell']("ip addr show bmx_prime | grep inet | awk '/inet/ {print $2}' | sed 's/\/.*//'") %}

{% set vpnid = salt['cmd.shell']("grep -R $(nvram get fastd_public) /etc/fastd/peers2 | egrep -o 'vpn[0-9]+' || true") %}

{# used for crontab minutes #}
{% set ctime = salt['cmd.shell']("nodeid=$(nvram get ddmesh_node); expr $nodeid % 60") %}
