[Unit]
Description=Network Time Service
Documentation=man:ntpd(8)
After=network.target S52batmand.service S53backbone-fastd2.service
Conflicts=systemd-timesyncd.service

[Service]
Type=oneshot
RemainAfterExit=true
# Debian uses a shell wrapper to process /etc/default/ntp
# and select DHCP-provided NTP servers if available
ExecStartPre=/bin/sleep 120
ExecStart=/usr/lib/ntp/ntp-systemd-wrapper
PrivateTmp=true

[Install]
WantedBy=multi-user.target
