{% from 'config.jinja' import servername, freifunk_version %}-----------------------------------------------------------------
 Freifunk {{ servername }}

 ( Version: {{ freifunk_version }} )
-----------------------------------------------------------------
